extends ../base.pug

block variables
    - var template = 'details'

block content
    .detail
        .detail__wrapper
            figure.detail__media
                img.detail__media__image(alt=product.data.image.alt src=product.data.image.url)

            .detail__information
                p.detail__information__collection=product.data.collection.data.title

                h1.detail__information__title=product.data.title

                .detail__information__content
                    .detail__information__highlights
                        each highlight in product.data.highlights
                            p.detail__information__highlight
                                svg.detail__information__highlight__icon
                                    use(xlink:href=`sprite-${highlight.highlight_icon.toLowerCase()}`)

                                span.detail__information__highlight__text!=highlight.highlight_text.replace(/\n/, '<br>')

                    .detail__information__list
                        each item in product.data.information
                            p.detail__information__item
                                strong.detail__information__item__title=item.information_label
                                span.detail__information__item__description=item.information_description

                    a.detail__information__link(href=product.data.link_url.url target='_blank')=product.data.link_text

            button.detail__button Close
                svg.detail__button__icon(viewBox="0 0 124 60" xmlns="http://www.w3.org/2000/svg")
                    path(fill="none" stroke="currentColor" d="M123.5 30C123.5 37.9842 116.796 45.3568 105.623 50.7631C94.4846 56.1526 79.0623 59.5 62 59.5C44.9377 59.5 29.5154 56.1526 18.3772 50.7631C7.2042 45.3568 0.5 37.9842 0.5 30C0.5 22.0158 7.2042 14.6431 18.3772 9.23688C29.5154 3.84743 44.9377 0.5 62 0.5C79.0623 0.5 94.4846 3.84743 105.623 9.23688C116.796 14.6431 123.5 22.0158 123.5 30Z")


