extends ../base.pug

block variables
    - var template = 'home'

block content
    .home
        .home__wrapper
            .home__titles
                each collection, index in collections
                    .home__titles__label=`${home.data.collection} ${Numbers(index)}`
                    .home__titles__title=collection.data.title

            .home__gallery
                each media in home.data.gallery
                    figure.home__gallery__media
                        img.home__gallery__media__image(alt=media.image.alt data-src=media.image.url)

            a.home__link(href=Link(home.data.collections))=home.data.button
                svg.home__link__icon(viewBox="0 0 288 60" xmlns="http://www.w3.org/2000/svg")
                    path(d="M284.361 35.3453C286.167 33.5069 287 31.7224 287 30C287 28.2776 286.167 26.4931 284.361 24.6547C282.552 22.813 279.832 20.9883 276.242 19.2197C269.065 15.6846 258.615 12.4731 245.619 9.76578C219.646 4.35458 183.717 1 144 1C104.283 1 68.3543 4.35458 42.3806 9.76578C29.3855 12.4731 18.9353 15.6846 11.7581 19.2197C8.16755 20.9883 5.44799 22.813 3.63899 24.6547C1.83325 26.4931 1 28.2776 1 30C1 31.7224 1.83325 33.5069 3.63899 35.3453C5.44799 37.187 8.16755 39.0117 11.7581 40.7803C18.9353 44.3154 29.3855 47.5269 42.3806 50.2342C68.3543 55.6454 104.283 59 144 59C183.717 59 219.646 55.6454 245.619 50.2342C258.615 47.5269 269.065 44.3154 276.242 40.7803C279.832 39.0117 282.552 37.187 284.361 35.3453ZM144 60C223.529 60 288 46.5685 288 30C288 13.4315 223.529 0 144 0C64.471 0 0 13.4315 0 30C0 46.5685 64.471 60 144 60Z" fill="none" stroke="currentColor")
